:root {
    --text: #575279;
    --light-text: #797593;
    --background-color: #FAF4ED;
    --item-background: #F5D7D5;
    --overlay: #F2E9E1;
}
:root {
    --text: #575279;
    --light-text: #797593;
    --background-color: #FAF4ED;
    --item-background: #F5D7D5;
    --overlay: #F2E9E1;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #191724;
        --text: #e0def4;
        --subtle: #908caa;
        --overlay: #26233a;
        --item-background: var(--overlay);
        --highlight-med: #2a2837;
    }
}

#friend-btn {
    border: none;
    background-color: var(--text);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#friend-btn img {
    width: 100%;
    object-fit: contain;
}

#group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-bottom: var(--overlay) 3px solid;
}

#group-pic {
    width: 319px;
    height: 172px;
}

#group-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#group-name {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    color: var(--text);
}

.friends-container {
    display: flex;
    flex-direction: column;
}

.friend-container {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: var(--overlay) 3px solid;
}

.friend-pic {
    width: 136px;
    height: 142px;
}

.friend-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.friend-details {
    display: flex;
    flex-direction: column;
}

.friend-name {
    color: var(--text);
    font-size: 24px;
}

.friend-level {
    color: var(--text);
    font-size: 20px;
    margin-top: 8px;
}

.friend-level-bar {
    margin-top: 15px;
    width: 193px;
    height: 46px;
}

.friend-level-bar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#friend-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#friend-modal-cont {
    background-color: #fefefe;
    margin: 30% auto; 
    border: 3px solid #888;
    width: 350px;
    height: 50px;
    border-radius: 30px;
    color: var(--purple);
    overflow: hidden;
}

#frined-form {
    position: relative;
}

#friend-name {
    border: none;
    padding-left: 10px;
    width: 350px;
    height: 100%;
    font-size: 20px;
    object-fit: contain;
}

#friend-name:focus {
    outline: none;
    border: none;
}

#add-friend-btn {
    position: absolute;
    right: 20px;
    background-color: var(--purple);
}

#add-friend-btn img {
    width: 100%;
    object-fit: contain;
}
