:root {
    --purple: #575279;
    --light-purple: #797593;
    --cream-backgroud: #FAF4ED;
    --item-backgroud: #F5D7D5;
    --line: #F2E9E1;
}

#back-btn {
    border: none;
    background-color: var(--purple);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

#back-btn img {
    width: 50%;
    height: 50%;
    object-fit: contain;
    margin-right: 6px;
}

#group-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  border-bottom: var(--line) 3px solid;
}

#group-pic {
    width: 319px;
    height: 172px;
}

#group-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#group-name {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 24px;
    color: var(--purple);
}

.friends-container {
    display: flex;
    flex-direction: column;
}

.friend-container {
    margin-top: 20px;
    margin-left: 10px;
    padding-bottom: 20px;
    display: flex;  
    align-items: center;
    justify-content: space-around;
    width: 100%;
    border-bottom: var(--line) 3px solid;
}

.friend-pic {
    width: 136px;
    height: 142px;
}

.friend-pic img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.friend-details {
    display: flex;
    flex-direction: column;
}

.friend-name {
    color: var(--purple);
    font-size: 24px;
}

.friend-level {
    color: var(--purple);
    font-size: 20px;
    margin-top: 8px;
}

.friend-level-bar {
    margin-top: 15px;
    width: 193px;
    height: 46px;
}

.friend-level-bar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}