:root {
    --text: #575279;
    --subtle: #797593;
    --item-background: #F5D7D5;
    --secondary-item-background: #efb4b0;
    --overlay: #F2E9E1;
    --background-color: #FAF4ED;
    --surface: #fffaf3;
    --muted: #9893a5;
    --love: #b4637a;
    --highlight-med: #dfdad9;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background-color: #191724;
        --text: #e0def4;
        --subtle: #908caa;
        --overlay: #26233a;
        --item-background: var(--overlay);
        --secondary-item-background: #3e0f3e;
        --highlight-med: #2a2837;
    }
}


body {
    font-family: "Lato", sans-serif;
    background-color: var(--background-color);
}


.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#menu-btn {
    border: none;
    background-color: var(--text);
    cursor: pointer;
}

#menu-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#menu-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

.modal-cont {
    background-color: var(--background-color);
    margin: 30% auto; 
    padding: 20px;
    border: 3px solid #888;
    width: 330px;
    height: 300px;
    border-radius: 30px;
    color: var(--text);
}

.screen-menu {
    margin-top: 5px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    font-size: 32px;
}

#task-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#task-modal-content {
    background-color: var(--background-color);
    margin: 30% auto; 
    padding: 20px;
    border: 3px solid #888;
    width: 330px;
    height: 300px;
    border-radius: 30px;
    color: var(--text);
}

#task-form {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#task-form input, #task-form textarea {
    margin-bottom: 10px;
}

#task-name {
    width: 50%;
}

input[type=time] {
    width: 75px;
}

input[type=submit] {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

#edit-form {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

#edit-form input, #edit-form textarea {
    margin-bottom: 10px;
}

#edit-name {
    width: 50%;
}

#create-btn {
    background-color: var(--text);
    position: absolute;
    bottom: 0;
    right: 0;
}

#create-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#done-btn {
    background-color: var(--text);
    position: absolute;
    bottom: 0;
    right: 60px;
}

#done-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#delete-btn {
    background-color: var(--text);
    position: absolute;
    bottom: 0;
    right: 0;
}

#delete-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

#edit-modal {
    display: none;
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    justify-content: center;
    align-items: center;
    overflow: auto;
}

#edit-modal-content {
    background-color: var(--background-color);
    margin: 30% auto; 
    padding: 20px;
    border: 3px solid #888;
    width: 330px;
    height: 300px;
    border-radius: 30px;
    color: var(--text);
}

#edit-form {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;
}

.screen-menu a:link {
    text-decoration: none;
}

.screen-menu a:visited {
    color: var(--text);
}  

.screen-menu a:active {
    color: var(--text);
}  

.menu-item {
    padding-bottom: 10px;
    text-align: center;
    width: 100%;
    border-bottom: #F4EDE8 3px solid; 
}

.menu-item:last-child {
    border-bottom: none;
}

#tasks-title {
    padding-top: 10px;
    font-weight: bold;
    font-size: 40px;
    color: var(--text);
}

#add-btn {
    background-color: var(--text);
}

#add-btn img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.days-containter {
    display: flex;
    padding-bottom: 20px;
    border-bottom: #F2E9E1 1px solid;
}

.day {
    color: var(--text);
    background-color: var(--item-background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 3px;
    width: 48px;
    height: 85px;
    border-radius: 25px;
    border: #575279 3px solid;
    font-size: 16px;
}

.day-text {
    padding-top: 15px;
}

.day-nr {
    padding-bottom: 15px;
}

#tasks-container {
    display: flex;  
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.top-div {
  position: sticky;
  top: 0;
  background-color: var(--overlay);
  border-bottom: var(--highlight-med) 3px solid;
  z-index: 1;
  backdrop-filter: blur(8px);
}

.XP {
  border-bottom: #797593 3px solid;
  border-left: #797593 3px solid;
  border-radius: 0px 0px 0px 25px;
  position: absolute;
  width: 50px;
  height: 30px;
  right: 0px;
  top: 0px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--text);
}

.XP.fixed {
  position: fixed;
}

/* .tasks-container::-webkit-scrollbar {
    display: none;
}

.swipe-container {
    display: flex;
    overflow: auto;
    overflow-x: scroll;
    scroll-snap-align: start;
} */

.task-container {
  position: relative;
    display: flex;
    flex-direction: column;
    border: var(--subtle) 4px solid;
    background-color: var(--item-background);
    width: 350px;
    height: 135px;
    border-radius: 25px;
    margin-bottom: 23px;
    /* min-width: 100%; */
    /* scroll-snap-align: start; */
}

/* .action {
    min-width: 100%;
    display: flex;
    align-items: center;
}

i {
    color: white;
    position: sticky;
    left: 16px;
    right: 16px;
}

.left {
    background-color: orchid;
}

.right {
    justify-content: flex-end;
    background-color: cornflowerblue;
  }  */

.task-container div {
    margin-left: 15px;
}

.task-text {
    color: var(--text);
    font-size: 32px;
    font-weight: bold;
    margin-top: 15px;
}

.task-time {
    color: var(--subtle);
    font-size: 20px;
    margin-top: 6px;
}

.prog-bar {
    margin-top: 6px;
    margin-right: 15px;
}

.prog-bar img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

/* links */
a, a:hover, a:visited, a:active {
  color: inherit;
}
